---
layout: page
title: About
---
<section class="list">
  <h1 class="text-center">Boîte à outils: comment fonctionne l'UTC ?</h1>
  <br>

    {% for post in site.posts %}
        {% if post.category == 'about' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
