---
# blog page must be named index.html and in its own folder to support pagination
# https://jekyllrb.com/docs/pagination/
layout: page
title: Blog
pagination:
  enabled: true
---

<section class="list">
  <h1 class="text-center">Blog</h1>
  <br>
  Filtrer par tag ou titre : <input id="filterBar" type="text" placeholder="#cévu, #newsletter, #soutenabilité...">
  <br><br><br>

	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.pagination.enabled %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
      {% if posts.size == 0 %}
        <p class="text-center">Nothing published yet with this tag!</p>
      {% endif %}
  		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
