---
layout: page
title: Projects
---
<section class="list">
  <h1 class="text-center">Projets</h1>
  <br>
  Filtrer par tag ou titre : <input id="filterBar" type="text" placeholder="#cévu, #CIS...">
  <br><br><br>

    {% for post in site.posts %}
        {% if post.category == 'projects' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside>
                      <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                      <small>
                        <br>
                        {% for tag in post.tag %}
                          #{{ tag }}
                        {% endfor %}
                      </small>
                    </aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
