<div class="item {% if post.star %}star{% endif %}">
    <a class="url" href="{{ site.url }}{{ post.url }}">
        <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
          <small>
            <br>
            {% for tag in post.tag %}
              #{{ tag }}  
            {% endfor %}
          </small>
        </aside>
        <h3 class="title">{{ post.title }}</h3>
    </a>
</div>
