<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Accueil</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% else %}
                <li class="item">
                  &nbsp;Blog&nbsp;
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projets</a>
                </li>
                {% else %}
                    <li class="item">
                      &nbsp;Projets&nbsp;
                    </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">Boîte à outils</a>
                </li>
            {% else %}
                <li class="item">
                  &nbsp;Boîte à outils&nbsp;
                </li>
                {% endif %}
        {% endif %}

        {% if site.contact == true %}
            {% if page.title != "Contact" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/contact">Contact</a>
                </li>
                {% else %}
                    <li class="item">
                      &nbsp;Contact&nbsp;
                    </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
